<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style lang="css">
			@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

			html {
				font-family: Cabin;
				font-size: 62.5%;
				box-sizing: border-box;
			}

			html, body {
				margin: 0;
			}
		</style>
		%svelte.head%
	</head>
	<body>
		<div id="svelte">%svelte.body%</div>
	</body>
</html>
